@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --background: #fff8e4;
  --background-secondary: #f87b4a;
  --text: #2f2f2f;
  --text-secondary: #666666;
  --round: 0.5rem;
}

body {
  color: var(--text);
  font-size: 14px;
  font-weight: 300;
}

.bg-primary {
  background: var(--background);
}

.bg-secondary {
  background: var(--background-secondary);
  color: #fff;
}

.text-secondary {
  color: var(--text-secondary);
}

.round {
  border-radius: var(--round);
}

.header {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 2em;
}

.divider {
  height: 0.5px;
  border-radius: 30px;
  width: 95%;
  background-color: var(--text);
  margin: 2em auto;
  padding: 0 1em;
}
